/* El CSS de la consola se encuentra separado por comentarios para identificar que zonas modifican qué de la consola */

/* Al body le daremos un margin 0 para poder trabajar sin márgenes y poder colocar bien la consola */
body {
    margin: 0;
}

/* Comenzaremos con los estilos que engloban la consola, que hará que la consola en general esté colocada en el centro de la página y, además, que tenga sus bordes redondeados */
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

#consola {
    width: 370px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(128deg, rgba(165,229,255,1) 0%, rgba(107,155,255,1) 37%, rgba(0,3,154,1) 100%);
    border-style: solid;
    border-width: 1px;
    border-radius: 3% 3% 15% 15%;
    box-shadow: 10px 10px 10px 10px;
}

#botonencendido {
    margin-left: 300px;
    margin-top: -4px;
    position: relative;
    width: 5px;
    height: 10px;
    background-color: black;
    border-radius: 3px 1px 0px 0px;
    box-shadow: 1px 1px 1px 1px black;
    z-index: -1;
}

/* En este apartado tendremos los estilos que hacen referencia a la parte de arriba de la consola, conocida como la parte de la pantalla */
#partearriba {
    height: 310px;
}

/* Estos son los estilos para las letras semitransparentes de COMM */
#comm {
    margin-left: 40px;
    color: rgb(130, 205, 235);
    font-size: small;
}

/* Debajo de las letras COMM encontramos el marco de la pantalla con un gradient y un borde para que no de el efecto de un cambio drástico y sin sentido */
#marco {
    background: rgb(31,31,31);
    background: linear-gradient(128deg, rgba(31,31,31,1) 0%, rgba(68,68,93,1) 35%, rgba(166,166,166,1) 100%);
    border-style: solid;
    border-width: 1px;
    height: 280px;
    width: 325px;
    margin-left: 20px;
    border-radius: 3% 3% 20% 20%;
    text-align: center;
}

/* La luz de power y sus letras cobrarán vida aquí  */
#luzpower {
    float: left;
    margin-top: 70px;
    padding-left: 5px;
    font-weight: bold;
    color: rgb(194, 194, 194);
}
#luz {
    float: left;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
    margin-top: 5px;
}
#parentesis {
    float: left;
    width: 20px;
}
#power{
    font-size: 10px;
}

/* Aquí tenemos la pantalla con su imagen de fondo y su cambio de imagen al hover */
#pantalla {
    background-color: black;
    height: 200px;
    width: 225px;
    border-style: solid;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
/* Hover para crear el efecto de encendido */
#pantalla:hover {
    background-image: url(../img/pantallaencendida.png);
    background-size: cover;
}

/* Estos estilos son para el div que contiene el logo de la gbc */
#logogbc {
    float: left;
    height: 23px;
    width: 200px;
    background-image: url(../img/gbclogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 14px;
    margin-left: 63px;
}

/* Para la parte de abajo tendremos el logo de nintendo junto a los botones de juego, el select y el start y por ultimo los altavoces */
#parteabajo {
    height: 330px;
}

/* En este apartado colocaremos el logo de nintendo que va centrado */
#logonintendo {
    height: 21px;
    width: 90px;
    background-image: url(../img/nintendologo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 140px;
}

/* Aquí tenemos los botones, primero haremos el bloque de 2 con el flex, les daremos un ancho y los colocaremos, luego modificaremos cada botón individualmente */
#botonesdejuego {
    display: flex;
    padding-top: 30px;
}

#cruceta {
    padding-left: 30px;
    display: grid;
    width: 50%;
    grid-template-columns: 30px 30px 30px;
    grid-template-rows: 30px 30px 30px;
    color: white;
}
.botonescruceta {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 3px;
}
.botoncentral {
    height: 30px;
    width: 30px;
    background-color: black;
}